# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.spec

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Output
YT_output/
